body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #09bbe7;
}

.slideshow {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 1s;
    object-fit: cover;
}
